body {
  background-color: #f45342;
  font-family: 'Play', sans-serif;
  color: white;
}

.behind-text {
   background-color: white;
   width: 550px
}

.padded {
   background-color: white;
   padding: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5e5f60;
    text-align: center;
}


li {
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #3b3c3d;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 95pt;
  text-align: center;
  position: relative;
  line-height: 0.75em;
}
h2 {
   color: #c4c5c6;
   text-align: center;
   font-family: 'Play', sans-serif;
   font-size: 40pt;
   text-align: center;
   line-height: 0.75em;
}
h3 {
   color: #5ea5a5;
   text-align: center;
   font-family: 'Play', sans-serif;
   font-size: 16pt;
   text-decoration: underline;
}
h4 {
  color: #5e5f60;
  text-align: left;
  font-family: 'Play', sans-serif;
  font-size: 16pt;
  text-decoration: underline;
  line-height: 0.75em;
}

h5 {
  color: #5ea5a5;
  text-align: left;
  font-family: 'Play', sans-serif;
  font-size: 14pt;
  line-height: 0.75em;
}

h6 {
  color: #5e5f60;
  text-align: left;
  font-family: 'Play', sans-serif;
  font-size: 16pt;
}

p, ul, pre {
  color: #5ea5a5;
  text-align: left;
  font-family: 'Play', sans-serif;
  font-size: 16pt;
}


.circle-image{
  position: absolute;
  top: 1px;
  left: 30px;
  opacity: 0.90;
}

.title-container {
  width: 800px;
  height: 100px;
  margin: auto;
  padding: 10px;
  border: 1px solid #c4c5c6;
  background-color: white;
}

.container {
      width: 850px;
      height: 450px;
      margin: auto;
      padding: 20px;
      border: 1px solid #c4c5c6;
      background-color: white;
    }

    .container2 {
      width: 850px;
      height: 230px;
      margin: auto;
      padding: 20px;
      border: 1px solid #c4c5c6;
      background-color: white;
    }

    .seeChange-container {
      width: 850px;
      height: 320px;
      margin: auto;
      padding: 20px;
      border: 1px solid #c4c5c6;
      background-color: white;
    }

    .image {
      float: left;
      padding-right: 20px;
    }
